@using Contrib.Widgets.Models
@using Orchard.Environment.Extensions.Models
@{
    Style.Include("admin.widgets-container.css", "admin.widgets-container.min.css");
    Script.Require("jQueryUI_Dialog");
    Script.Include("admin.widgets-container.js", "admin.widgets-container.min.js");
    
    var zones = Model.Zones;
    var theme = (ExtensionDescriptor)Model.CurrentTheme;
    var zonePreviewImage = (string)Model.ZonePreviewImage;
    var allWidgets = (IEnumerable<WidgetExPart>) Model.Widgets;
    var contentItem = Model.ContentItem;
}

<fieldset>
    <input type="hidden" name="returnUrl"/>
    <input type="hidden" name="submit.Save" />
    <legend>@T("Widgets")</legend>
    <div class="widgets group">
        <div class="layout-widgets-placement">
            <div class="zones-container">
                <div class="zones">
                    <ol>
                        @foreach (var zone in zones) {
                            var widgets = allWidgets.Where(x => x.Zone == zone);
                            var addWidgetUrl = contentItem.Id != 0 
                                ? Url.Action("ListWidgets", "Admin", new { area = "Contrib.Widgets", hostId = contentItem.Id, zone})
                                : Url.Action("CreateContent", "Admin", new { area = "Contrib.Widgets", id = contentItem.ContentType, zone});
                            <li>
                                <h2>@zone</h2>
                                <div class="zone-actions">
                                    <a class="button grey add-widget" href="@addWidgetUrl" data-host-id="@contentItem.Id">@T("Add")</a>
                                </div>
                                <ul class="widgets">
                                    @foreach (var widget in widgets) {
                                        <li>
                                            <h3><a href="@Url.Action("EditWidget", "Admin", new { area = "Contrib.Widgets", hostId = contentItem.Id, id = widget.Id })">@Html.ItemDisplayText(widget)</a></h3>
                                            <div class="widget-actions">
                                                <a href="#">@T("Remove")</a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="layout-widgets-assistance">
            <div class="theme-preview">
                <img title="@T("{0} zone preview", theme.Name)" src="@Url.Content(zonePreviewImage)" alt="@T("{0} zone preview", theme.Name)">
            </div>
        </div>
    </div>
    <div id="widgets-library-dialog" title="@T("Widgets Library")">
        <iframe class="content-container"></iframe>
    </div>
</fieldset>